
<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Percy's Pies</title>
</head>

<body>

  <div id='cssmenu'>
  Percy's Pies
    </ul>
    <ul id='words'>
      <li><a href='/index'>Home</a></li>
      <li class='active has-sub'><a href='#'>Links</a>
        <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
    
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>
      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
</div>

<div id= 'pizza'>
<h1> Confirm your Selection:</h1>


<form method = "post" action = "/confirm">      
<p><% crust.each do |crust_value| %>
  <%= crust_value %>
  <input type = "radio" name = "crust_radio" value = "<%= crust_value %>" checked> Yes
  <input type = "radio" name = "crust_radio" value = "no"> No </p>
  <img src = "/img/<%= crust_value %>.jpg">
   <% end %>
 

<% sauce_count = 0 %>
     <% sauce.each do |sauce_value| %>
        <p> <%= sauce_value %>
        <input type = "radio" name = "sauce_radio[<%= sauce_value %>]" value = "<%= sauce_value %>" checked> Yes
        <input type = "radio" name = "sauce_radio[<%= sauce_value %>]" value = "no"> No </p>
        <img src = "/img/<%= sauce_value %>.jpg">
        <% sauce_count += 1%>
    <% end %>

    <% meat_count = 0 %>
     <% meat.each do |meat_value| %>
        <p> <%= meat_value %>
        <input type = "radio" name = "meat_radio[<%= meat_value %>]" value = "<%= meat_value %>" checked> Yes
        <input type = "radio" name = "meat_radio[<%= meat_value %>]" value = "no"> No </p>
        <img src = "/img/<%= meat_value %>.jpg">
        <% meat_count += 1%>
    <% end %>

    <% veggie_count = 0 %>
    <% veggie.each do |veggie_value| %>
        <p> <%= veggie_value %>
        <input type = "radio" name = "veggie_radio[<%= veggie_value %>]" value = "<%= veggie_value %>" checked> Yes
        <input type = "radio" name = "veggie_radio[<%= veggie_value %>]" value = "no"> No </p>
        <img src = "/img/<%= veggie_value %>.jpg">
        <% veggie_count += 1%>
    <% end %>

 <% cheese_count = 0 %>
    <% cheese.each do |cheese_value| %>
        <p> <%= cheese_value %>
        <input type = "radio" name = "cheese_radio[<%= cheese_value %>]" value = "<%= cheese_value %>" checked> Yes
        <input type = "radio" name = "cheese_radio[<%= cheese_value %>]"" value = "no"> No </p>
        <img src = "/img/<%= cheese_value %>.jpg">
        <% cheese_count += 1%>
    <% end %>

    <center><input type= 'submit' name= 'Confirm'></center>

</form>
</div>

</body>
</html>