
<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css">
   <link rel= "stylesheet" type="text/css" href="css/style.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Percy's Peewee Pies</title>
</head>

<body>

  <div id='cssmenu'>
  Percy's Peewee Pies
    </ul>
    <ul id='words'>
      <li><a href='/index'>Home</a></li>
      <li class='active has-sub'><a href='#'>Links</a>
        <ul>
         <li class='active'><a href='https://www.google.com/'>Google</a>
    
         <li class='active'><a href='http://www.minedminds.org/'>Mined Minds</a>

         <li class='active'><a href='https://stackoverflow.com/'>Stack Overflow</a>
      </ul>
    </li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Contact</a></li>
  </ul>
</div>

<div id= 'pizza'>
<h1> Confirm your Selection:</h1>


<form method = "post" action = "/results">      
Your pizza will have

<% price.to_s.to_f %>



<% crust1.each do |crust_value, key| %>
  	<% if crust_value == "No Crust" %>
  	 <p> <%= crust_value %> </p>
  	<% pizza_tops1 << crust_value %>
   	<% elsif crust_value != "No Crust" %>
    <p> <%= crust_value %> Crust </p>
    <img src = "/img/<%= crust_value %>.jpg">
    <% pizza_tops1 << crust_value %>
 	<% end %>
<% end %>

<% sauce1.each do |sauce_value, key| %>
	
	<% if sauce_value == "No Sauce" %>
	<p> <%= sauce_value %> </p>
	<% pizza_tops1 << sauce_value %>
    <% elsif sauce_value == key %>	
     <p> <%= sauce_value %> Sauce </p>
    <img src = "/img/<%= sauce_value %>.jpg">
    <% price += 1 %>
    <% p price %>
    <% pizza_tops1 << sauce_value %>
    <% end %>
<% end %>

<% meat1.each do |meat_value, key| %>

	<% if meat_value == "No Meat" %>
	<p> <%= meat_value %> </p>
	<% pizza_tops1 << meat_value %>
	<% elsif meat_value == key %> 
    <p> <%= meat_value %> </p>
    <img src = "/img/<%= meat_value %>.jpg">
    <% price += 2 %>
    <% p price %>
    <% pizza_tops1 << meat_value %>
    <% end %>
<% end %>

<% veggie1.each do |veggie_value, key| %>
	<% if veggie_value == "No Veggie" %>
	<p> <%= veggie_value %> </p>
	<% pizza_tops1 << veggie_value %>
   	<% elsif veggie_value == key %> 
    <p> <%= veggie_value %> </p>
    <img src = "/img/<%= veggie_value %>.jpg">
    <% price += 1.5 %>
    <% p price %> 
    <% pizza_tops1 << veggie_value %>
    <% end %>
<% end %>

<% cheese1.each do |cheese_value, key| %>
   	<% if cheese_value == "No Cheese" %>
   	<p> <%= cheese_value %> </p>
	<% pizza_tops1 << cheese_value %>
    <% elsif cheese_value == key %> 
    <p> <%= cheese_value %> </p>
    <img src = "/img/<%= cheese_value %>.jpg">
  	<% price += 1 %>
  	<% p price %>
  	<% pizza_tops1 << cheese_value %>
    <% end %>
<% end %>
	
	
	<br>
	<br>
	<BR>This pizza costs $<%= price.to_f %></BR> 
	<input type= "hidden" name= "current[]" value= "<%= price %>"> 
	
	<% sub_total = sub_total[0].to_f + price %>
	 <%= pizza_tops1 %>
	<input type= "hidden" name= "pizza_array[]" value= "<%= pizza_tops1 %>">
	<input type= "hidden" name= "sub_total[]" value= "<%= sub_total %>">
<center><input type= 'submit' name= 'Continue'></center>
 	

</form>
</div>

</body>
</html>